{% include 'protocolo/tree.html'%}
<h4>{{ question.name }}</h4>
    {% if question.description is not None %}
        <h8>{{ question.description | linebreaks }}</h8>
    {% endif %}
    {% if question.instruction is not None %}
        <h6><b>Instrução:</b> {{ question.instruction | linebreaks }}</h6>
    {% endif %}

    {% if question.possible_answers.all  %}
        {% include 'protocolo/mcq_question.html' %}
    {% else %}
        {% include 'protocolo/upl_question.html' %}
    {% endif %}

    <br>
    <a class="btn jq-btn btn-warning btn-sm" data-href="{% url 'sections' protocol.id part.id area.id instrument.id dimension.id %}"
       style="margin-top: 30px">
        Voltar atrás
    </a>
