{% block tree %}
                {% if protocol is not None %}
                    <a class="jq-btn btn" style="display: contents;" role="button" data-href="{% url 'parts' protocol.id patient.id %}">
                        {{ protocol.name }} \
                    </a>
                {% endif %}

                {% if part is not None %}
                    <a class="jq-btn btn" style="display: contents;" role="button" data-href="{% url 'areas' protocol.id part.id patient.id %}">
                       {% if part.part_number > 0 %}
                            Parte {{ part.part_number }}: {{ part.name }} \
                        {% else %}
                            {{ part.name }} \
                        {% endif %}
                    </a>
                {% endif %}

                {% if area is not None %}
                    <a class="jq-btn btn" style="display: contents;" role="button" data-href="{% url 'instruments' protocol.id part.id area.id patient.id %}">
                        {{ area.name }} \
                    </a>
                {% endif %}

                {% if instrument is not None and instrument.name != "None" %}
                    <a class="jq-btn btn" style="display: contents;" role="button"
                       data-href="{% url 'dimensions' protocol.id part.id area.id instrument.id patient.id %}">
                        {{ instrument.name }} \
                    </a>
                {% endif %}

            {% if dimension is not None and dimension.name != "None"%}
                <a class="jq-btn btn" style="display: contents;" role="button"
                       data-href="{% url 'sections' protocol.id part.id area.id instrument.id dimension.id patient.id %}">
                        {{ dimension.name }} \
                    </a>
            {% endif %}

            {% if section is not None and section.name != "None" %}
                {{ section.name }}
            {% endif %}
{% endblock %}