{% block tree %}
    <div class="tree">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if protocol is not None %}
                    <a class="jq-btn btn" role="button" data-href="{% url 'parts' protocol.id %}">
                        <li class=" breadcrumb-item">{{ protocol.name }} ></li>
                    </a>
                {% endif %}

                {% if part is not None %}
                    <a class="jq-btn btn" role="button" data-href="{% url 'areas' protocol.id part.id %}">
                        <li class="breadcrumb-item">{% if part.part_number > 0 %}
                            Parte {{ part.part_number }}: {{ part.name }} >
                        {% else %}
                            {{ part.name }}\
                        {% endif %}</li>
                    </a>
                {% endif %}

                {% if area is not None %}
                    <a class="jq-btn btn" role="button" data-href="{% url 'instruments' protocol.id part.id area.id %}">
                        <li class="breadcrumb-item">{{ area.name }} ></li>
                    </a>
                {% endif %}

                {% if instrument is not None %}
                    <a class="jq-btn btn" role="button"
                       data-href="{% url 'dimensions' protocol.id part.id area.id instrument.id %}">
                        <li class="breadcrumb-item">{{ instrument.name }} ></li>
                    </a>
                {% endif %}

            {% if dimension is not None %}
                <a class="jq-btn btn" role="button"
                       data-href="{% url 'sections' protocol.id part.id area.id instrument.id dimension.id %}">
                        <li class="breadcrumb-item">{{ dimension.name }} ></li>
                    </a>
            {% endif %}

            {% if section is not None %}
                <li style="padding: 0.375rem 0.75rem;"aria-current="page" class="breadcrumb-item active">{{ section.name }}</li>
            {% endif %}
            </ol>
        </nav>
    </div>
{% endblock %}