.item {
    flex: 1 1 0px;
}

.padding-top-25 {
    padding-top: 25px;
}

.img-preview {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 100px; /* Set a small width */
    max-height: 100px;
}

/* Add a hover effect (blue shadow) */
.img-preview:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-buttons {
    display: flex;
    flex-display: row;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.flex-right {
    justify-content: right;
}

.flex-left {
    flex-grow: 1;
    justify-content: left;
}


.flex-textarea {
    flex-shrink: 0;

}

.flex-item {

}

.btn-warning {
    color: white;
    background-color: #ffaf00;
    border-color: #E1CA63;
}

.notes-area {
    width: 100%;
    height: 100%;
}

.max-width{
    width: 100%;
}

.p-button {
    padding: 0px !important;
}

.white-border {
    outline: .5px solid rgba(255, 255, 255, 0.30);
}

.progress {
    width: 75%;
    min-width: 50%;
    max-height: 10px;
    min-height: 10px;
}

.jumbotron {
    margin-bottom: .5rem;
}

.breadcrumb {
    margin-bottom: 1rem;
}


.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}