.item {
    flex: 1 1 0px;
}

.p-button{
    padding: 0px!important;
}

.white-border {
    outline: .5px solid rgba(255, 255, 255, 0.30);
}

.progress {
    width: 75%;
    min-width: 50%;
    max-height: 10px;
    min-height: 10px;
}

.jumbotron {
    margin-bottom: .5rem;
}

.breadcrumb {
    margin-bottom: 1rem;
}


.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.btn-warning {
    color: #fff;
}

.btn-warning:hover {
    color: #fff;
}